{% extends 'base.html.twig' %}

{% block title %}{{ parent () }}Edit Navire! {% endblock %}

{% block body %}
    <div class="container">
        {{ form_start (form) }}
        <div class="row">
            <div class="col-2" id="some-custom-id">
                {{ form_label(form.imo, 'IMO') }}
                {{ form_widget (form.imo, {'attr': {'placeholder': 'IMO Number', 'redonly':'true'}})}}
            </div>

            <div class="col-2" id="some-custom-id">
                {{ form_label (form.nom, 'Nom du Navire') }}
                {{ form_widget (form.nom, {'attr': {'placeholder': 'Saisir le nom du navire'}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-2" id="some-custom-id">
                {{ form_label(form.mmsi, 'MMSI') }}
                {{ form_widget (form.mmsi, {'attr': {'placeholder': 'MMSI Number'}}) }}
            </div>

            <div class="col-2" id="some-custom-id">
                {{ form_label(form.indicatifappel, 'Indicatif VHF') }}
                {{ form_widget (form.indicatifappel, {'attr': {'placeholder': "Saisir l'indicatif VHF"}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-2" id="some-custom-id">
                {{ form_label(form.longueur, 'Longueur') }}
                {{ form_widget (form.longueur, {'attr': {'placeholder': 'Saisir la longueur'}}) }}
            </div>

            <div class="col-2" id="some-custom-id">
                {{ form_label(form.largeur, 'Largeur') }}
                {{ form_widget (form.largeur, {'attr': {'placeholder': "Saisir la largeur"}}) }}
            </div>
            <div class="col-2" id="some-custom-id">
                {{ form_label(form.tirantdeau, "Tiran d'eau" }}
                {{ form_widget (form.tirantdeau, {'attr': {'placeholder': "Saisir le tiran d'eau"}}) }}
            </div>
        </div>

        <div class="row">
            <div class="col-2" id="some-custom-id">
                {{ form_label(form.idaisshiptype, 'Type de navire') }}
                {{ form_widget (form.idaisshiptype) }}
            </div>
            <div class="col-2" id="some-custom-id">
                {{ form_label(form.pavillon, 'Pavillon') }}
                {{ form_widget (form.pavillon) }}
            </div>
        </div>


        <div class="row">
            <div class="col-2" id="some-custom-id">
                {{ form_label(form.destination, 'Destination') }}
                {{ form_widget (form.destination) }}
            </div>
            <div class="col-2" id="some-custom-id">
                {{ form_label(form.eta, 'Estimated Time Arrival') }}
                f{ form_widget (form.eta) }}
            </div>
        </div>
    </div>
</div>

</br>
<a type='button' class ='btn btn-success' style="width: 100px" href="{{ path ('navire_voirtous') }}"> retour </a>
<button type='submit' style="width: 100px" class ='btn btn-success'>Modifier</button>
{{ form_end(form)}}
{% endblock %}